In [5]:
# import the library
import polars as pl

In [10]:
# load the data in .csv format
data_csv = pl.read_csv('data/food_consumption.csv')

In [11]:
# worth noting how the Polars library shows also the data types of each column
data_csv

shape: (1_430, 5)
┌──────┬────────────┬───────────────┬─────────────┬──────────────┐
│      ┆ country    ┆ food_category ┆ consumption ┆ co2_emission │
│ ---  ┆ ---        ┆ ---           ┆ ---         ┆ ---          │
│ i64  ┆ str        ┆ str           ┆ f64         ┆ f64          │
╞══════╪════════════╪═══════════════╪═════════════╪══════════════╡
│ 1    ┆ Argentina  ┆ pork          ┆ 10.51       ┆ 37.2         │
│ 2    ┆ Argentina  ┆ poultry       ┆ 38.66       ┆ 41.53        │
│ 3    ┆ Argentina  ┆ beef          ┆ 55.48       ┆ 1712.0       │
│ 4    ┆ Argentina  ┆ lamb_goat     ┆ 1.56        ┆ 54.63        │
│ 5    ┆ Argentina  ┆ fish          ┆ 4.36        ┆ 6.96         │
│ …    ┆ …          ┆ …             ┆ …           ┆ …            │
│ 1426 ┆ Bangladesh ┆ dairy         ┆ 21.91       ┆ 31.21        │
│ 1427 ┆ Bangladesh ┆ wheat         ┆ 17.47       ┆ 3.33         │
│ 1428 ┆ Bangladesh ┆ rice          ┆ 171.73      ┆ 219.76       │
│ 1429 ┆ Bangladesh ┆ soybeans      ┆ 0.61        ┆ 0.27         │
│ 1430 ┆ Bangladesh ┆ nuts          ┆ 0.72        ┆ 1.27         │
└──────┴────────────┴───────────────┴─────────────┴──────────────┘

In [13]:
# load the data in excel .xlsx file format ..
data_excel = pl.read_excel('data/file_example.xlsx')

In [14]:
data_excel

shape: (9, 8)
┌─────┬────────────┬───────────┬────────┬───────────────┬─────┬────────────┬──────┐
│ 0   ┆ First Name ┆ Last Name ┆ Gender ┆ Country       ┆ Age ┆ Date       ┆ Id   │
│ --- ┆ ---        ┆ ---       ┆ ---    ┆ ---           ┆ --- ┆ ---        ┆ ---  │
│ i64 ┆ str        ┆ str       ┆ str    ┆ str           ┆ i64 ┆ str        ┆ i64  │
╞═════╪════════════╪═══════════╪════════╪═══════════════╪═════╪════════════╪══════╡
│ 1   ┆ Dulce      ┆ Abril     ┆ Female ┆ United States ┆ 32  ┆ 15/10/2017 ┆ 1562 │
│ 2   ┆ Mara       ┆ Hashimoto ┆ Female ┆ Great Britain ┆ 25  ┆ 16/08/2016 ┆ 1582 │
│ 3   ┆ Philip     ┆ Gent      ┆ Male   ┆ France        ┆ 36  ┆ 21/05/2015 ┆ 2587 │
│ 4   ┆ Kathleen   ┆ Hanner    ┆ Female ┆ United States ┆ 25  ┆ 15/10/2017 ┆ 3549 │
│ 5   ┆ Nereida    ┆ Magwood   ┆ Female ┆ United States ┆ 58  ┆ 16/08/2016 ┆ 2468 │
│ 6   ┆ Gaston     ┆ Brumm     ┆ Male   ┆ United States ┆ 24  ┆ 21/05/2015 ┆ 2554 │
│ 7   ┆ Etta       ┆ Hurn      ┆ Female ┆ Great Britain ┆ 56  ┆ 15/10/2017 ┆ 3598 │
│ 8   ┆ Earlean    ┆ Melgar    ┆ Female ┆ United States ┆ 27  ┆ 16/08/2016 ┆ 2456 │
│ 9   ┆ Vincenza   ┆ Weiland   ┆ Female ┆ United States ┆ 40  ┆ 21/05/2015 ┆ 6548 │
└─────┴────────────┴───────────┴────────┴───────────────┴─────┴────────────┴──────┘

In [16]:
# load the data in .parque format 
data_parquet = pl.read_parquet('data/sample.parquet')

In [17]:
data_parquet

shape: (1_001, 2)
┌─────────┬──────────┐
│ column0 ┆ column1  │
│ ---     ┆ ---      │
│ str     ┆ str      │
╞═════════╪══════════╡
│ first   ┆  last    │
│ Edna    ┆ Moss     │
│ Harvey  ┆ Carter   │
│ Leah    ┆ Douglas  │
│ Ricardo ┆ Owens    │
│ …       ┆ …        │
│ Donald  ┆ Paul     │
│ Amanda  ┆ Green    │
│ Myrtie  ┆ Walton   │
│ Todd    ┆ Johnston │
│ Essie   ┆ Carr     │
└─────────┴──────────┘