In [2]:
import pandas as pd
import polars as pl

In [3]:
# Create a dictionary of names and num_occurrences
data = {
    "name": ["Japhy", "Arthur", "Rusty","Alan"],
    "num_occurrences": [3, 2, None, 9]
}

Assemble the DataFrame in Pandas

In [4]:
# Create a pandas dataframe
df_pd = pd.DataFrame(data)
df_pd

     name  num_occurrences
0   Japhy              3.0
1  Arthur              2.0
2   Rusty              NaN
3    Alan              9.0

Now, assemble the DataFrame in Polars

In [5]:
# Create a Polars dataframe
df_pl = pl.DataFrame(data)
df_pl

shape: (4, 2)
┌────────┬─────────────────┐
│ name   ┆ num_occurrences │
│ ---    ┆ ---             │
│ str    ┆ i64             │
╞════════╪═════════════════╡
│ Japhy  ┆ 3               │
│ Arthur ┆ 2               │
│ Rusty  ┆ null            │
│ Alan   ┆ 9               │
└────────┴─────────────────┘

## Key syntax is consistent across both Pandas and Polars

Use of `head()`, `shape`, and `dtypes` is identical in both Pandas and Polars.

In [7]:
# show top row of pandas dataframe
df_pd.head(1)

    name  num_occurrences
0  Japhy              3.0

In [8]:
# show top row of polars dataframe
df_pl.head(1)

shape: (1, 2)
┌───────┬─────────────────┐
│ name  ┆ num_occurrences │
│ ---   ┆ ---             │
│ str   ┆ i64             │
╞═══════╪═════════════════╡
│ Japhy ┆ 3               │
└───────┴─────────────────┘

In [11]:
# show shape of pandas dataframe
df_pd.shape

(4, 2)

In [10]:
# show shape of polars dataframe
df_pl.shape

(4, 2)

In [12]:
# show datatypes of pandas dataframe

df_pd.dtypes

name                object
num_occurrences    float64
dtype: object

In [13]:
# show datatypes of polars dataframe

df_pl.dtypes

[String, Int64]

In [14]:
# use describe() on pandas dataframe

df_pd['num_occurrences'].describe()

count    3.000000
mean     4.666667
std      3.785939
min      2.000000
25%      2.500000
50%      3.000000
75%      6.000000
max      9.000000
Name: num_occurrences, dtype: float64

In [15]:
# use describe() on polars dataframe

df_pl['num_occurrences'].describe()

shape: (9, 2)
┌────────────┬──────────┐
│ statistic  ┆ value    │
│ ---        ┆ ---      │
│ str        ┆ f64      │
╞════════════╪══════════╡
│ count      ┆ 3.0      │
│ null_count ┆ 1.0      │
│ mean       ┆ 4.666667 │
│ std        ┆ 3.785939 │
│ min        ┆ 2.0      │
│ 25%        ┆ 3.0      │
│ 50%        ┆ 3.0      │
│ 75%        ┆ 9.0      │
│ max        ┆ 9.0      │
└────────────┴──────────┘